.music_container{width:98%; height:auto; display:grid;  grid-gap: 15px;  grid-template-columns: repeat(5 ,1fr); margin-top: 30px;margin-left:20px}



@media screen and (max-width:950px) {
 .music_container{width:98%; height:auto; display:grid;  gap: 15px 0px;  grid-template-columns: repeat(5 ,1fr); margin-top: 30px;margin-left:10px}   
}

@media screen and (max-width:850px) {
 .music_container{width:98%; height:auto; display:grid;  gap: 15px 0px;  grid-template-columns: repeat(4 ,1fr); margin-top: 30px;margin-left:10px}   
}

@media screen and (max-width:750px) {
 .music_container{width:98%; height:auto; display:grid;  gap: 15px 0px;  grid-template-columns: repeat(4 ,1fr); margin-top: 30px;margin-left:10px}   
}

@media screen and (max-width:650px) {
 .music_container{width:98%; height:auto; display:grid;  gap: 15px 0px;  grid-template-columns: repeat(3 ,1fr); margin-top: 30px;margin-left:10px}   
}
@media screen and (max-width:550px) {
 .music_container{width:98%; height:auto; display:grid;  gap: 15px 0px;  grid-template-columns: repeat(3 ,1fr); margin-top: 30px;margin-left:10px}   
}

@media screen and (max-width:450px) {
 .music_container{width:97%; height:auto; display:grid;  gap: 15px 0px;  grid-template-columns: repeat(2 ,1fr); margin-top: 30px;margin-left:10px}   
}
@media screen and (max-width:350px) {
 .music_container{width:97%; height:auto; display:grid;  gap: 15px 0px;  grid-template-columns: repeat(2 ,1fr); margin-top: 30px;margin-left:10px}   
}

/* --------------------- */
.music_item{width:240px; height: 290px; display:flex; flex-direction: column; background-color: rgb(20, 20, 25); border-radius: 10px;cursor: pointer; position:relative; overflow: hidden; align-items: center;}
/* -------------------responsive */
@media screen and (max-width:1250px){
  .music_item{width:200px; height: 240px; display:flex; flex-direction: column; background-color: rgb(20, 20, 25); border-radius: 10px;cursor: pointer; position:relative; overflow: hidden; align-items: center;}  
}

@media screen and (max-width:1150px){
  .music_item{width:190px; height: 240px; display:flex; flex-direction: column; background-color: rgb(20, 20, 25); border-radius: 10px;cursor: pointer; position:relative; overflow: hidden; align-items: center;}  
}

@media screen and (max-width:1050px){
  .music_item{width:170px; height: 200px; display:flex; flex-direction: column; background-color: rgb(20, 20, 25); border-radius: 10px;cursor: pointer; position:relative; overflow: hidden; align-items: center;}  
}

@media screen and (max-width:950px){
  .music_item{width:165px; height: 200px; display:flex; flex-direction: column; background-color: rgb(20, 20, 25); border-radius: 10px;cursor: pointer; position:relative; overflow: hidden; align-items: center;}  
}

@media screen and (max-width:850px){
  .music_item{width:170px; height: 200px; display:flex; flex-direction: column; background-color: rgb(20, 20, 25); border-radius: 10px;cursor: pointer; position:relative; overflow: hidden; align-items: center;cursor:default}  
}

@media screen and (max-width:750px){
  .music_item{width:150px; height: 200px; display:flex; flex-direction: column; background-color: rgb(20, 20, 25); border-radius: 10px; position:relative; overflow: hidden; align-items: center;cursor:default}  
}


@media screen and (max-width:650px){
  .music_item{width:180px; height: 200px; display:flex; flex-direction: column; background-color: rgb(20, 20, 25); border-radius: 10px; position:relative; overflow: hidden; align-items: center;cursor:default}  
}

@media screen and (max-width:550px){
  .music_item{width:150px; height: 200px; display:flex; flex-direction: column; background-color: rgb(20, 20, 25); border-radius: 10px; position:relative; overflow: hidden; align-items: center;cursor:default}  
}

@media screen and (max-width:450px){
  .music_item{width:170px; height: 200px; display:flex; flex-direction: column; background-color: rgb(20, 20, 25); border-radius: 10px; position:relative; overflow: hidden; align-items: center;cursor:default}  
}
@media screen and (max-width:350px){
  .music_item{width:140px; height: 200px; display:flex; flex-direction: column; background-color: rgb(20, 20, 25); border-radius: 10px; position:relative; overflow: hidden; align-items: center;cursor:default}  
}

/* -------------------------------------------- */

.music_item_bg{width:100%; height: 100%; display:flex; flex-direction: column; background-color: none; border-radius: 10px;cursor: pointer; position:absolute}
.add_effect{ background: linear-gradient(120deg,rgb(0,0,0,0.2),rgb(112, 3, 99,0.1)); transition: 0.3s ease;  }
.play{ width: 60px; height:60px; background-color: #fff; border-radius: 50%; position: absolute; display: flex; align-items: center; justify-content: center;  top:80%; right:20%; visibility: hidden;transition: 0.3s ease;}
.show_play{top:70%;  visibility: visible; transition: 0.3s ease;}

.play_root{ color:rgb(184, 6, 131); font-size: 25px;} 

.music_art{ width: 80%; height: 60%; border-radius: 13px; background-color: rgb(60, 59, 61);margin-top: 20px; transition:"0.3s ease-in-out"; transition:0.3s ease-in-out}
.music_title{ width: 70%; margin: 0; margin-top: 15px; font-family: karla; font-size: 16px; height:15px; border-radius: 14px;background-color: rgb(60, 59, 61);transition:"0.3s ease-in-out"; transition:0.3s ease-in-out}
.music_author{width:80%;margin: 0;margin-top: 10px; font-family: karla; font-size: 14px; height:15px;border-radius: 14px;background-color: rgb(60, 59, 61);transition:"0.3s ease-in-out"; transition:0.3s ease-in-out}